In [1]:
import pandas as pd
import numpy as np

In [7]:
file = 'data/INTEGRATED-DATASET.csv'
df = pd.read_csv(file)
df.head(5)

,Unnamed: 0,BBLE,BORO,BLOCK,LOT,OWNER,BLDGCL,TAXCLASS,LTFRONT,LTDEPTH,...,VALTYPE,Borough,Latitude,Longitude,Community.Board,Council.District,Census.Tract,BIN,NTA,New.Georeferenced.Column
0,33459,1001721120,1,172,1120,"HUGH, CHEI LONG LUCY",R4,2,0,0,...,AC-TR,MANHATTAN,40.717906,-74.003135,101,1,31,1001866,SoHo-TriBeCa-Civic Center-Little Italy,POINT (-74.003135 40.717906)
1,34450,1001790021,1,179,21,ORGONIC FORMS INC,D0,2,50,100,...,AC-TR,MANHATTAN,40.718798,-74.008254,101,1,33,1001995,SoHo-TriBeCa-Civic Center-Little Italy,POINT (-74.008254 40.718798)
2,34728,1001401407,1,140,1407,"WINICK, ILYSA",R4,2,100,76,...,AC-TR,MANHATTAN,40.715987,-74.010248,101,1,21,1001505,SoHo-TriBeCa-Civic Center-Little Italy,POINT (-74.010248 40.715987)
3,34737,1002021045,1,202,1045,"CHIN, SHUI HONG",R4,2,0,0,...,AC-TR,MANHATTAN,40.715258,-73.997414,103,1,29,1002434,Chinatown,POINT (-73.997414 40.715258)
4,36079,1001321046,1,132,1046,HARRISON BRADLEY C,R4,2,0,0,...,AC-TR,MANHATTAN,40.715221,-74.011240,101,1,21,1081076,SoHo-TriBeCa-Civic Center-Little Italy,POINT (-74.01124 40.715221)

In [5]:
df.describe()

,Unnamed: 0,BBLE,BORO,BLOCK,LOT,TAXCLASS,LTFRONT,LTDEPTH,STORIES,FULLVAL,...,AVTOT2,EXLAND2,EXTOT2,EXCD2,Latitude,Longitude,Community.Board,Council.District,Census.Tract,BIN
count,7.174500e+04,7.174500e+04,71745.000000,71745.000000,71745.000000,71745.000000,71745.000000,71745.000000,71745.000000,7.174500e+04,...,7.174500e+04,7.174500e+04,7.174500e+04,71745.000000,71745.000000,71745.000000,71745.000000,71745.000000,71745.000000,7.174500e+04
mean,4.878186e+06,2.410653e+09,2.379302,3134.977518,1098.707757,2.095784,74.407262,75.015722,10.598950,5.243209e+06,...,2.089680e+06,1.077541e+05,2.302512e+05,1512.839543,40.749792,-73.924579,245.128051,20.309708,11659.201185,2.511304e+06
std,2.798520e+06,1.222588e+09,1.210752,2670.598007,1226.867403,0.427078,119.318419,111.901460,8.331561,1.699035e+07,...,6.984182e+06,8.947932e+05,4.545274e+06,946.147780,0.075768,0.072719,120.814934,14.132936,24459.648958,1.290978e+06
min,3.345900e+04,1.000090e+09,1.000000,1.000000,1.000000,2.000000,0.000000,0.000000,1.000000,1.698000e+03,...,7.490000e+02,9.000000e+00,9.000000e+00,1015.000000,40.522602,-74.234938,101.000000,1.000000,1.000000,1.000000e+06
25%,2.456354e+06,1.015810e+09,1.000000,1270.000000,39.000000,2.000000,0.000000,0.000000,6.000000,6.212800e+04,...,2.580200e+04,2.280000e+03,1.602400e+04,1017.000000,40.703188,-73.975788,108.000000,6.000000,145.000000,1.066187e+06
50%,4.801780e+06,2.039443e+09,2.000000,2136.000000,1021.000000,2.000000,2.000000,0.000000,8.000000,1.869580e+05,...,7.537200e+04,1.066800e+04,3.647700e+04,1017.000000,40.758124,-73.947964,209.000000,18.000000,354.000000,2.096742e+06
75%,7.290132e+06,3.072792e+09,3.000000,3944.000000,1302.000000,2.000000,103.000000,102.000000,13.000000,3.820000e+06,...,1.550340e+06,8.276300e+04,1.084140e+05,1920.000000,40.807155,-73.859900,315.000000,32.000000,20102.000000,3.392184e+06
max,9.839238e+06,5.075780e+09,5.000000,16271.000000,9029.000000,4.000000,1745.000000,1376.000000,70.000000,1.085775e+09,...,4.705429e+08,8.749935e+07,4.705429e+08,7160.000000,40.912869,-73.701135,503.000000,51.000000,157902.000000,5.169522e+06